<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>{{.Title}}</title>
	</head>
	<body>
        <p>"Удалить заказ"</p>
        <form action="/response/Delete" method="post"> <div>
            <input type="text" name="request_uid" value=>
        </div>
            <input type="submit" name="" value={{.DelOrderButton}}>
        </form>
		<p>"Найти заказ"</p>
        <form action="/response/Get" method="post"> <div>
            <input type="text" name="request_uid" value=>
        </div>
        <input type="submit" name="" value={{.GetOrderButton}}>
        </form>
		<p>"Ввести заказ"</p>
        <form action="/" method="post"> <div>
            <input type="submit" name="" value="Добавить Item">
            <input type="text" name="ItemCount"   value=><td>  Кол-во Items</div></td>
        </div>
        </form>
        <form action="/response/" method="post">
            <p>"Order"</p>

            <tr><p><input type="text" name=".Order.Order_uid" value={{.Order.Order_uid}}><td>  order_uid</td></p></tr>
            <tr><p><input type="text" name=".Order.Track_number" value={{.Order.Track_number}}><td> track_number</td></p></tr>  
            <tr><p><input type="text" name=".Order.Entry" value={{.Order.Entry}}><td>    entry</td></p></tr>
            <tr><p><input type="text" name=".Order.Locale" value={{.Order.Locale}}><td>    locale</td></p></tr>
            <tr><p><input type="text" name=".Order.Internal_signature" value={{.Order.Internal_signature}}><td>    internal_signature</td></p></tr>
            <tr><p><input type="text" name=".Order.Customer_id" value={{.Order.Customer_id}}><td>    customer_id</td></p></tr>
            <tr><p><input type="text" name=".Order.Delivery_service" value={{.Order.Delivery_service}}><td>    delivery_service</td></p></tr>
            <tr><p><input type="text" name=".Order.Shardkey" value={{.Order.Shardkey}}><td>    shardkey</td></p></tr>
            <tr><p><input type="text" name=".Order.Sm_id" value={{.Order.Sm_id}}><td>    sm_id</td></p></tr>
            <tr><p><input type="text" name=".Order.Date_created" value={{.Order.Date_created}}><td>    date_created</td></p></tr>
            <tr><p><input type="text" name=".Order.Oof_shard" value={{.Order.Oof_shard}}><td>    oof_shard</td></p></tr>
            
            <p>"Delivery"</p>
            <tr>
                <p><td>        </td><input type="text" name=".Order.Delivery.Name" value={{.Order.Delivery.Name}}><td>  name</td></p>
                <p><td>        </td><input type="text" name=".Order.Delivery.Phone" value={{.Order.Delivery.Phone}}><td>  phone</td></p>
                <p><td>        </td><input type="text" name=".Order.Delivery.Zip" value={{.Order.Delivery.Zip}}><td>  zip</td></p>
                <p><td>        </td><input type="text" name=".Order.Delivery.City" value={{.Order.Delivery.City}}><td>  city</td></p>
                <p><td>        </td><input type="text" name=".Order.Delivery.Address" value={{.Order.Delivery.Address}}><td>  address</td></p>
                <p><td>        </td><input type="text" name=".Order.Delivery.Region" value={{.Order.Delivery.Region}}><td>  region</td></p>
                <p><td>        </td><input type="text" name=".Order.Delivery.Email" value={{.Order.Delivery.Email}}><td>  email</td></p>
            </tr>
            <p>"Payment"</p>
            <tr>
                
                <p><td>        </td><input type="text" name=".Order.Payment.Transaction" value=""><td>  transaction</td></p>
                <p><td>        </td><input type="text" name=".Order.Payment.Request_id" value=""><td>  request_id</td></p>
                <p><td>        </td><input type="text" name=".Order.Payment.Currency" value=""><td>  currency</td></p>
                <p><td>        </td><input type="text" name=".Order.Payment.Provider" value=""><td>  provider</td></p>
                <p><td>        </td><input type="text" name=".Order.Payment.Amount" value=""><td>  amount</td></p>
                <p><td>        </td><input type="text" name=".Order.Payment.Payment_dt" value=""><td>  payment_dt</td></p>
                <p><td>        </td><input type="text" name=".Order.Payment.Bank" value=""><td>  bank</td></p>
                <p><td>        </td><input type="text" name=".Order.Payment.Delivery_cost" value=""><td>  delivery_cost</td></p>
                <p><td>        </td><input type="text" name=".Order.Payment.Goods_total" value=""><td>  goods_total</td></p>
                <p><td>        </td><input type="text" name=".Order.Payment.Custom_fee" value=""><td>  custom_fee</td></p>
            </tr> 
            
            {{ range $key, $monkey := .Order.Items }}
            <div>
                <p>"Item {{ $key }}"</p>
                <p><td>        </td><input type="text" name=".Order.Items[{{ $key }}].Chrt_id" value=""><td>  chrt_id</td></p>
                <p><td>        </td><input type="text" name=".Order.Items[{{ $key }}].Track_number" value=""><td>  track_number</td></p>
                <p><td>        </td><input type="text" name=".Order.Items[{{ $key }}].Price" value=""><td>  price</td></p>
                <p><td>        </td><input type="text" name=".Order.Items[{{ $key }}].Rid" value=""><td>  rid</td></p>
                <p><td>        </td><input type="text" name=".Order.Items[{{ $key }}].Name" value=""><td>  name</td></p>
                <p><td>        </td><input type="text" name=".Order.Items[{{ $key }}].Sale" value=""><td>  sale</td></p>
                <p><td>        </td><input type="text" name=".Order.Items[{{ $key }}].Size" value=""><td>  size</td></p>
                <p><td>        </td><input type="text" name=".Order.Items[{{ $key }}].Total_price" value=""><td>  total_price</td></p>
                <p><td>        </td><input type="text" name=".Order.Items[{{ $key }}].Nm_id" value=""><td>  nm_id</td></p>
                <p><td>        </td><input type="text" name=".Order.Items[{{ $key }}].Brand" value=""><td>  brand</td></p>
                <p><td>        </td><input type="text" name=".Order.Items[{{ $key }}].Status" value=""><td>  status</td></p>
            </div>
            {{ end }}
            <input type="submit" name="" value={{.PutOrderButton}}>
        </form>
	</body>
</html>