<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>{{.Title}}</title>
	</head>
	<body>
        <p>"Удалить заказ"</p>
        <form action="/response/Delete" method="post"> <div>
            <input type="text" name="request_uid" value=>
        </div>
            <input type="submit" name="" value={{.DelOrderButton}}>
        </form>
		<p>"Найти заказ"</p>
        <form action="/response/Get" method="post"> <div>
            <input type="text" name="request_uid" value=>
        </div>
        <input type="submit" name="" value={{.GetOrderButton}}>
        </form>
		<p>"Ввести заказ"</p>
        <form action="/" method="post"> <div>
            <input type="submit" name="" value="Добавить Item">
            <input type="text" name="ItemCount"   value=><td>  Кол-во Items</div></td>
        </div>
        </form>
        <form action="/response/Put" method="post">
            <p>"Order"</p>

            <tr><p><input type="text" name="Order_uid" value={{.Order.Order_uid}}><td>  order_uid</td></p></tr>
            <tr><p><input type="text" name="Track_number" value={{.Order.Track_number}}><td> track_number</td></p></tr>  
            <tr><p><input type="text" name="Entry" value={{.Order.Entry}}><td>    entry</td></p></tr>
            <tr><p><input type="text" name="Locale" value={{.Order.Locale}}><td>    locale</td></p></tr>
            <tr><p><input type="text" name="Internal_signature" value={{.Order.Internal_signature}}><td>    internal_signature</td></p></tr>
            <tr><p><input type="text" name="Customer_id" value={{.Order.Customer_id}}><td>    customer_id</td></p></tr>
            <tr><p><input type="text" name="Delivery_service" value={{.Order.Delivery_service}}><td>    delivery_service</td></p></tr>
            <tr><p><input type="text" name="Shardkey" value={{.Order.Shardkey}}><td>    shardkey</td></p></tr>
            <tr><p><input type="text" name="Sm_id" value={{.Order.Sm_id}}><td>    sm_id</td></p></tr>
            <tr><p><input type="text" name="Date_created" value={{.Order.Date_created}}><td>    date_created</td></p></tr>
            <tr><p><input type="text" name="Oof_shard" value={{.Order.Oof_shard}}><td>    oof_shard</td></p></tr>
            
            <p>"Delivery"</p>
            <tr>
                <p><td>        </td><input type="text" name="Delivery.Name" value={{.Order.Delivery.Name}}><td>  name</td></p>
                <p><td>        </td><input type="text" name="Delivery.Phone" value={{.Order.Delivery.Phone}}><td>  phone</td></p>
                <p><td>        </td><input type="text" name="Delivery.Zip" value={{.Order.Delivery.Zip}}><td>  zip</td></p>
                <p><td>        </td><input type="text" name="Delivery.City" value={{.Order.Delivery.City}}><td>  city</td></p>
                <p><td>        </td><input type="text" name="Delivery.Address" value={{.Order.Delivery.Address}}><td>  address</td></p>
                <p><td>        </td><input type="text" name="Delivery.Region" value={{.Order.Delivery.Region}}><td>  region</td></p>
                <p><td>        </td><input type="text" name="Delivery.Email" value={{.Order.Delivery.Email}}><td>  email</td></p>
            </tr>
            <p>"Payment"</p>
            <tr>
                
                <p><td>        </td><input type="text" name="Payment.Transaction" value={{.Order.Payment.Transaction}}><td>  transaction</td></p>
                <p><td>        </td><input type="text" name="Payment.Request_id" value={{.Order.Payment.Request_id}}><td>  request_id</td></p>
                <p><td>        </td><input type="text" name="Payment.Currency" value={{.Order.Payment.Currency}}><td>  currency</td></p>
                <p><td>        </td><input type="text" name="Payment.Provider" value={{.Order.Payment.Provider}}><td>  provider</td></p>
                <p><td>        </td><input type="text" name="Payment.Amount" value={{.Order.Payment.Amount}}><td>  amount</td></p>
                <p><td>        </td><input type="text" name="Payment.Payment_dt" value={{.Order.Payment.Payment_dt}}><td>  payment_dt</td></p>
                <p><td>        </td><input type="text" name="Payment.Bank" value={{.Order.Payment.Bank}}><td>  bank</td></p>
                <p><td>        </td><input type="text" name="Payment.Delivery_cost" value={{.Order.Payment.Delivery_cost}}><td>  delivery_cost</td></p>
                <p><td>        </td><input type="text" name="Payment.Goods_total" value={{.Order.Payment.Goods_total}}><td>  goods_total</td></p>
                <p><td>        </td><input type="text" name="Payment.Custom_fee" value={{.Order.Payment.Custom_fee}}><td>  custom_fee</td></p>
            </tr> 
            
            {{ range $key, $item := .Order.Items }}
            <div>
                <p>"Item"</p>
                <p><td>        </td><input type="text" name="Items.Chrt_id" value={{$item.Chrt_id}}><td>  chrt_id</td></p>
                <p><td>        </td><input type="text" name="Items.Track_number" value={{$item.Track_number}}><td>  track_number</td></p>
                <p><td>        </td><input type="text" name="Items.Price" value={{$item.Price}}><td>  price</td></p>
                <p><td>        </td><input type="text" name="Items.Rid" value={{$item.Rid}}><td>  rid</td></p>
                <p><td>        </td><input type="text" name="Items.Name" value={{$item.Name}}><td>  name</td></p>
                <p><td>        </td><input type="text" name="Items.Sale" value={{$item.Sale}}><td>  sale</td></p>
                <p><td>        </td><input type="text" name="Items.Size" value={{$item.Size}}><td>  size</td></p>
                <p><td>        </td><input type="text" name="Items.Total_price" value={{$item.Total_price}}><td>  total_price</td></p>
                <p><td>        </td><input type="text" name="Items.Nm_id" value={{$item.Nm_id}}><td>  nm_id</td></p>
                <p><td>        </td><input type="text" name="Items.Brand" value={{$item.Brand}}><td>  brand</td></p>
                <p><td>        </td><input type="text" name="Items.Status" value={{$item.Status}}><td>  status</td></p>
            </div>
            {{ end }}
            <input type="submit" name="" value={{.PutOrderButton}}>
        </form>
	</body>
</html>