<!DOCTYPE html>

<html>
	<head>
	<meta charset="utf-8">
	<title>{{.Title}}</title>
	    </head>
	    <body>
			<form id = Order></form>
			<p>"Order"</p>
            <table border="1" cellpadding="5" cellspacing="5">
				<tr>
					<td>  order_uid</td>
					<td> track_number</td>
					<td>    internal_signature</td>
					<td>    customer_id</td>
					<td>    delivery_service</td>
					<td>    shardkey</td>
					<td>    sm_id</td>
					<td>    date_created</td>
					<td>    oof_shard</td>
				</tr>
				<tr>
					<td>{{.Order.Order_uid}}</td>
					<td>{{.Order.Track_number}}</td>
					<td>{{.Order.Entry}}</td>
					<td>{{.Order.Locale}}</td>
					<td>{{.Order.Internal_signature}}</td>
					<td>{{.Order.Customer_id}}</td>
					<td>{{.Order.Delivery_service}}</td>
					<td>{{.Order.Shardkey}}</td>
					<td>{{.Order.Sm_id}}</td>
					<td>{{.Order.Date_created}}</td>
					<td>{{.Order.Oof_shard}}</td>
				</tr>
            </table>
			<table border="1" cellpadding="5" cellspacing="5">
				<tr>
					<td>  name</td>
					<td>  phone</td>
					<td>  zip</td>
					<td>  city</td>
					<td>  address</td>
					<td>  region</td>
					<td>  email</td>
				</tr>
				<tr>
					<td>{{.Order.Delivery.Name}}</td>
					<td>{{.Order.Delivery.Phone}}</td>
					<td>{{.Order.Delivery.Zip}}</td>
					<td>{{.Order.Delivery.City}}</td>
					<td>{{.Order.Delivery.Address}}</td>
					<td>{{.Order.Delivery.Region}}</td>
					<td>{{.Order.Delivery.Email}}</td>
				</tr>
			</table>
			  <p>"Payment"</p>
			<table border="1" cellpadding="5" cellspacing="5">
				<tr>
					<td>  transaction</td>
					<td>  request_id</td>
					<td>  currency</td>
					<td>  provider</td>
					<td>  amount</td>
					<td>  payment_dt</td>
					<td>  delivery_cost</td>
					<td>  goods_total</td>
					<td>  custom_fee</td>
				</tr>
				<tr>
					<td>{{.Order.Payment.Transaction}}</td>
					<td>{{.Order.Payment.Request_id}}</td>
					<td>{{.Order.Payment.Currency}}</td>
					<td>{{.Order.Payment.Provider}}</td>
					<td>{{.Order.Payment.Amount}}</td>
					<td>{{.Order.Payment.Payment_dt}}</td>
					<td>{{.Order.Payment.Bank}}</td>
					<td>{{.Order.Payment.Delivery_cost}}</td>
					<td>{{.Order.Payment.Goods_total}}</td>
					<td>{{.Order.Payment.Custom_fee}}</td>
				</tr>
			</table>
          
            {{ range $key, $item := .Order.Items }}
            <div>
                <p>Items{{$key}}</p>
				<table border="1" cellpadding="5" cellspacing="5">
					<tr>
						<td>  chrt_id</td>
						<td>  track_number</td>
						<td>  total_price</td>
						<td>  price</td>
						<td>  rid</td>
						<td>  name</td>
						<td>  sale</td>
						<td>  size</td>
						<td>  nm_id</td>
						<td>  brand</td>
						<td>  status</td>
					</tr>
					<tr>
						<td>{{$item.Chrt_id}}</td>
						<td>{{$item.Track_number}}</td>
						<td>{{$item.Price}}</td>
						<td>{{$item.Rid}}</td>
						<td>{{$item.Name}}</td>
						<td>{{$item.Sale}}</td>
						<td>{{$item.Size}}</td>
						<td>{{$item.Total_price}}</td>
						<td>{{$item.Nm_id}}</td>
						<td>{{$item.Brand}}</td>
						<td>{{$item.Status}}</td>
					</tr>
				</table>
            </div>
            {{ end }}
			<form action="/" method="post">
			<input type="submit" name="" value= "Вернуться назад:">
			</form>
    </body>
  </html>